{% extends "index.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <p class="lead">
        Заполните все поля!
    </p>
    <p class="lead">
        Если вам требуется отразить в графике и табеле ПОДРАБОТКУ напишите так: <em>Дата-время(10-5, например).</em>
    </p>
    <form action="{{ url_for('irr_graph_result', count=count) }}" method="post">
        <div class="row">
            <div class="col-auto">
                {% for i in range(1, count + 1) %}
                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="ФИО..."
                           name="fio-{{ i }}" required>
                    <input class="form-control"
                           placeholder="Дни дежурств..."
                           name="date-{{ i }}" required>
                    <br>
                    <datalist id="datalistOptions">
                        {% for fio in fio_list %}
                            <option value="{{ fio }}">
                        {% endfor %}
                    </datalist>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary" name="button_flag">Ввести данные</button>
    </form>
{% endblock %}
