{% extends "index.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <p class="lead">
        В это разделе нужно указать количество контролёров на определённом посту.
    </p>
    <form action="{{ url_for('irr_graph_temp') }}" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Количество сотрудников:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   name="posts_count"
                   required>
        </div>
        <button type="submit" class="btn btn-primary">Ввести</button>
    </form>
{% endblock %}
